<header class="page-header">
  <h1>About Us</h1>
</header>

<header class="page-header">
  <div>
    <p> Hello, we're an online plant store that can suit all of your home plant needs! Currenly able to ship domestically within Canada. </p>
    <p> Looking for a gift? Plants make excellent gifts! Just make sure the person you're gifting it to is responsible enough to water them...</p>
    <p> If you have any questions, feel free to contact us and we'll be happy to assist.</p>

  </div>
</header>